<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/css/style_project.css" />
    <link rel="stylesheet" href="../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cagliostro&display=swap" rel="stylesheet">

    <title>
        Avishi's portfolio
    </title>  
</head>
<body>

    <div class="project-intro-text">
        <h2>ETC App - UI, UX</h2>
    </div>
    
    <div class="flex-container">
        <div class="container"  data-tilt data-tilt-reset="false">
            <img src="../static/img/teacher_training.jpg" alt="Image" />
        </div>

        <div class="container">
            <p class="project-description">
                Worked on the design of a service as a part of my Visual Design & Communication and Design Processes & Perspectives courses.<br><br>
                Tools: Figma, Illustrator
            </p>
        </div>

    </div>

    <script type="text/javascript" src="../static/js/vanilla-tilt.js"></script>

</body>
</html>
