<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/css/style_project.css" />
    <link rel="stylesheet" href="../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cagliostro&display=swap" rel="stylesheet">

    <title>
        Avishi's portfolio
    </title>  
</head>
<body>

    <div class="project-intro-text">
        <h2>NeuralArt - Web Application</h2>
    </div>
    
    <div class="flex-container">
        <div class="container"  data-tilt data-tilt-reset="false">
            <img src="../static/img/neural_art.jpg" alt="Image" />
        </div>

        <div class="container">
            <p class="project-description">
                Worked on a web application as a part of my Women Techmakers Engineering Program. 
                It uses a neural network algorithm to recast the content of one image in the style of another image using the Neural Style Transfer algorithm. <br><br>
                Technical Stack: Python, Flask, HTML, CSS, JS
            </p>
        </div>

    </div>

    <script type="text/javascript" src="../static/js/vanilla-tilt.js"></script>

</body>
</html>
